<div id="about-modal-yd">
    <div class="modal-header">
        <span class="about-t-f">关于</span>
        <span class="about-t-b" ng-click="about.close()">
            <i class="fa fa-close"></i>
        </span>
    </div>
    <div class="modal-body">
        <div class="time-h">
            <label>
                创作开始日期:
            </label>
            <span>
                2016-4-18
            </span>
        </div>
        <div>
            <label>
                团队人员:
            </label>
            <span>
                杨灯（fencer-yd)） , 吴博(fencer-wb)
            </span>
        </div>
        <div>
            <label>
                团队名称:
            </label>
            <span>
                风中侠客小组
            </span>
        </div>
    </div>
    <div class="modal-foote ta-c">
        <button class="btn btn-info" ng-click="about.close()">关闭</button>
    </div>
</div>
