<div id="common-nav-yd">
    <div class="main-nav">
        <div id="my_nav">
            <div class="section page1">
                <div class="slide slide1">
                    <svg>
                        <path/>
                    </svg>
                </div>
                <div class="slide"></div>
                <div class="slide"></div>
                <div class="slide"></div>

            </div>
            <div class="section">

            </div>
            <div class="section">

            </div>
            <div class="section">

            </div>
        </div>
    </div>

</div>
