#common-nav-yd{
    width: 100%;
    height: 100%;
    position: relative;
}

#common-nav-yd .main-nav{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

/*第一页*/
#common-nav-yd .main-nav .page1{
    width: 100%;
    height: 100%;
    background-image: url(../../images/com.common.nav/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-animation: zoom 2s ease-in-out;
    animation: zoom 2s ease-in-out;
}

#common-nav-yd .main-nav .page1 .slide1{
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#common-nav-yd .main-nav .page1 .slide1 svg{
    width: 300px;
    height: 300px;
}

/*导航*/
#common-nav-yd .section1{
    background: rgba(122, 224, 132, 0.2);
}

#fp-nav ul li a span ,
#common-nav-yd .fp-slidesNav ul li a span{
    background: #999 !important;
}
/************/